  h1 {
    text-align: center;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 20px;
  }

  input[type="text"],
  input[type="number"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 300px;
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: 0;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: black;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 300px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: 0;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: black;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 30px;
  }
  
  hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin-top: 30px;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: 10px;
  }
  
  ul {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  li {
    font-size: 1.1em;
    line-height: 1.4em;
    margin-bottom: 10px;
  }
  
  strong {
    font-weight: bold;
  }
  
  .container p:last-child {
    margin-bottom: 0;
  }