<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin.css">
    <title>Admin page</title>
</head>

<body>

    <a href="/">
        <h2>Go back!</h2>
    </a>

    {% if session.admin_status == 1 %}

    <h1>Admin Page</h1>

    <h2 style="text-align: center">Add New Product</h2>
    <form action="/add_product" method="POST">
        <input type="text" id="add_name" name="add_product_name" placeholder="Product Name">
        <input type="text" id="description" name="product_description" placeholder="Product Description">
        <input type="text" id="price" name="product_price" placeholder="Product Price">
        <input type="number" id="add_product_amount" name="add_product_amount" placeholder="Product Amount">
        <button type="submit" , onclick="return checkAddNewProduct()">Add Product</button>
    </form>

    <h2 style="text-align: center">Increase Product Stock</h2>
    <form action="/increase_product_amount" method="POST">
        <input type="text" id="increase_name" name="increase_product_name" placeholder="Product Name">
        <input type="number" id="increase_amount" name="increase_amount" placeholder="Amount to Increase">
        <button type="submit" , onclick="return checkIncreaseStock()">Increase Stock</button>
    </form>

    {% endif %}

    <script>
        function checkAddNewProduct() {

            let name = document.getElementById("add_name").value;
            let description = document.getElementById("description").value;
            let price = document.getElementById("price").value;
            let amount = document.getElementById("add_product_amount").value;
            let onlyLetters = /^[A-Za-z]+$/;
            let onlyNumbers = /^\d+$/;

            if (name.length < 3) {
                alert("Product name must be at least 3 characters long!");
                document.getElementById("add_name").value = "";
                return false;
            }

            if (!onlyLetters.test(name)) {
                alert("Product name can contain only letters!")
                document.getElementById("add_name").value = "";
                return false;
            }

            if (description.length < 5) {
                alert("Product description must be atleast 5 characters long!")
                document.getElementById("description").value = "";
                return false;
            }

            if (price <= 0) {
                alert("Price must be greater than zero!")
                document.getElementById("price").value = "";
                return false;
            }

            if (!onlyNumbers.test(price)) {
                alert("Price must contain only numbers!")
                document.getElementById("price").value = "";
                return false;
            }

            if (amount <= 0) {
                alert("Product amount must be greater than 0!")
                document.getElementById("add_product_amount").value = "";
                return false;
            }

            return true;
        }

        function checkIncreaseStock() {

            let name = document.getElementById("increase_name").value;
            let increase_amount = document.getElementById("increase_amount").value;
            let onlyLetters = /^[A-Za-z]+$/;

            if (name.length < 3) {
                alert("Products name that you want to increase must be at least 3 characters long!");
                document.getElementById("increase_name").value = "";
                return false;
            }

            if (!onlyLetters.test(name)) {
                alert("Product name can contain only letters!")
                document.getElementById("increase_name").value = "";
                return false;
            }

            if (increase_amount <= 0) {
                alert("Amount to increase must be greater that 0!");
                document.getElementById("increase_amount").value = "";
                return false;
            }

            return true;

        }
    </script>

</body>

</html>