<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/static/register.css">
</head>

<body>

    <a href="/">
        <h2>Go back!</h2>
    </a>

    <h1>Register New User</h1>

    <form action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br><br>
        <label for="conf_password">Confirm password:</label>
        <input type="password" id="confirm" name="confirm">
        <input type="submit" value="Register" , onclick="checkPassword()">
    </form>

    <script>
        function checkPassword() {

            var password = document.getElementById("password");
            var confirmPassword = document.getElementById("confirmPassword");

            if (password !== confirmPassword) {
                alert("Passwords do not match");
                document.getElementById("password").value = "";
                document.getElementById("confirmPassword").value = "";
            }

        }
    </script>
</body>

</html>