<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/show_reviews.css">
    <title>Product reviews</title>
</head>

<body>
    <div class="container">
        {% if reviews == None %}
        <p>No reviews yet.</p>
        {% else %}
        <h1>Reviews:</h1>
        <h2>{{ product_name }}</h2>
        <p>Average rating: {{ product_average_rating }}/5</p>
        <hr>
        <div class="reviews">
            {% for review in reviews %}
            <div class="review">
                <p class="rating">{{ review.rating }}/5</p>
                <p class="description">"{{ review.description }}"</p>
                <p class="date_added">{{ review.date_created }}</p>
                <p class="username">- {{ review.username }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <a href="/store">Back to store</a>
    </div>
</body>

</html>