<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/store.css">
    <title>Document</title>
</head>

<body>


    <div class="header">
        <p><i>You are logged in as user:</i> <strong>{{ session.username }}</strong></p>
        <strong><a href="/logout">Log out</a></strong>
    </div>

    {% if session.admin_status == 1 %}
    <strong>
        <p style="text-align: center"><a href="/admin">Admin-page</a></p>
    </strong>
    {% endif %}

    <div class="container">
        <div class="search-form">
            <h2>Search for products:</h2>
            <form action="/search" , method="POST">
                <input type="text" , id="search_query" name="search" , placeholder="Product name">
                <input type="submit" value="Search" onclick="return checkUserInput()">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>

        {% if no_product_found %}

        <h2 style="text-align: center">Could not find searched products!</h2>

        {% elif products|length == 0 %}

        <h2 style="text-align: center">There are currently no products available!</h2>

        {% else %}

        <div class="product-list">
            <h2>All products:</h2>

            {% for product in products %}

            <div class="product-item">
                <h3>Item name: {{ product.name }}</h3>
                <p>Description: {{ product.description }}</p>
                <p>Item price: {{ product.price }}</p>
                <p>Current stock: {{ product.amount }}</p>
            </div>

            {% endfor %}

        </div>

        {% endif %}

        <script>
            function checkUserInput() {

                let searchQuery = document.getElementById("search_query").value;
                let maliciousCharacters = [">", "<", ">=", "<=", "/", "'", "&", "%", ";", "--", "/*", "*/", "<script>",
                    "javascript:"
                ]

                for (let i = 0; i < maliciousCharacters.length; i++) {
                    if (searchQuery.indexOf(maliciousCharacters[i]) !== -1) {
                        alert("Malicious characters found. Please enter a valid input!");
                        return false;
                    }
                }

                return true;
            }
        </script>
</body>

</html>