<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/store.css">
    <title>Main Store</title>
</head>

<body>


    <div class="header">
        <p><i>You are logged in as user:</i> <strong>{{ session.username }}</strong></p>
        <strong><a href="/logout">Log out</a></strong>
        {% if session.admin_status == 1 %}
        <strong>
            <p style="text-align: center"><a href="/admin">Admin-page</a></p>
        </strong>
        {% endif %}
        <div class="cart">
            <h2>Shopping Cart:</h2>
            {% if session.cart|length == 0 %}
            <h2>Empty</h2>
            {% else %}
            {% for item in session.cart %}
            <hr>
            <p>Product: {{ item.name }}</p>
            <p>Amount: {{ item.quantity }}</p>
            <p>Price: {{ item.total_price }} €</p>
            <a href="">Remove from cart</a>
            {% endfor %}
            <hr>
            <p>Total:</p>
            {{ session.grand_total }} €
            <br>
            <button class="checkout-button">
                <a href="/checkout">Checkout</a>
            </button>
            {% endif %}
        </div>
    </div>



    <div class="container">
        <div class="search-form">
            <h2>Search for products:</h2>
            <form action="/search" , method="POST">
                <input type="text" , id="search_query" name="search" , placeholder="Product name">
                <input type="submit" value="Search" onclick="return checkUserInput()">
                <input type="submit" value="Reset" onclick="location.reload(true)">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>

        {% if no_product_found %}

        <h2 style="text-align: center">Could not find searched products!</h2>

        {% elif products == None %}

        <h2 style="text-align: center">There are currently no products available!</h2>

        {% else %}

        <div class="product-list">
            <h2>All products:</h2>

            {% for product in products %}

            <div class="product-item">
                {% if session.admin_status == 1 %}
                <a href="#" onclick="confirmDelete('{{ product.id }}')">Delete</a>
                {% endif %}
                <h3>Item name: {{ product.name }}</h3>
                <p>Description: {{ product.description }}</p>
                <p>Item price: {{ product.price }} €</p>
                <p>Current stock: {{ product.amount }}</p>
                {% if product.rating == None %}
                <p>No ratings yet!</p>
                {% else %}
                <p>Rating: {{ product.rating }}</p>
                {% endif %}
                <a href="/show_reviews/{{ product.id }}">Reviews</p>
                    <a href="/add_review/{{ product.id }}" id="add-review-link">Add review</a>
                    <form method="POST" action="/add_to_cart/{{ product.id }}">
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="add_cart_quantity" min="1" max="{{product.amount}}" required>
                        <input type="submit" value="Update Cart">
                    </form>
            </div>

            {% endfor %}

        </div>

        {% endif %}

        <script src="/static/store.js"></script>

        {% if add_cart_success %}
        <script>
            addCartSuccess();
        </script>
        {% endif %}

        {% if out_of_stock %}
        <script>
            outOfStock();
        </script>
        {% endif %}

        {% if no_product_found %}
        <script>
            noProductFound();
        </script>
        {% endif %}
</body>

</html>